<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Utilizando AngularJs</title>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-app="tarefas">

<!--    {{1 + 1}}

    <div ng-init="valor = 2">
      {{valor + valor}}
    </div> valor mostrada antes da caixa de texto
-->
    <div ng-controller="MainController as c">

      <div class="">
        <input type="text" name="texto" ng-model="c.texto">
        <button ng-click="c.adicionar()">Enviar</button>
      </div>

<!--      <div class="">
        {{c.texto}}
      </div> escreve o numero do "texo" (input) abaixo da caixa de texto
-->
      <div ng-repeat="variavel in c.numeros">
        {{variavel.timestamp}} {{variavel.texto}}
        <button ng-click="c.remover($index)">Remover</button>
      </div>

    </div>
  </body>
</html>
<!-- $(".row"); /*quantas linhas

$("input, button"); /*quantos inputs e buttons

var divs = $("panel-heading");
-divs.length /*quantos painel-heading

o each requer uma funcao para os elementos

angularjs
 mvc model view controller
 API interface para o controlador do sistema
 aplicação crud = criar, remover, atualizar, recuperar
 web services = dois sistemas possam se comunicar
 Ex.: comunicam o view com o controller

  this.texto = ""; diz respeito à caixa de texto
  this.texto = ""; vai deixar a caixa de texto vazia
  this.numeros.splipe(i, 1);remove o indice tal, x vezes-->
